body {
    text-align: center;
    background-image: url(../../../assets/backgroundsushi.png);
}

.container {
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: 20px;
    height: 550px;
}

.image {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 300px;
    margin-right: 50px;
}

p{
    font-size: 30px;
}